<h2>Nav Placeholder</h2>
<ul>
	<li><%= link_to "Link 1", '#' %></li>
	<li><%= link_to "Link 2", '#' %></li>
	<li>Link Collection
		<ul>
			<li><%= link_to "Inner Link A", '#' %></li>
			<li><%= link_to "Inner Link B", '#' %></li>
		</ul>
	</li>
	<li><%= link_to "Link 3", '#' %></li>
</ul>